{% extends 'base.html.twig' %}

{% block title %}
    {% if(profile.username) %}
        {{ profile.username }}
    {% else %}
        {{ 'My profile' }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-2 col-start-2">
            {% include 'components/profile/navigation.html.twig' with {'profile': profile, 'user': user} %}
        </div>
        <div class="col-span-8 bg-lime-200 rounded">
            <div class="grid grid-cols-4 my-2 mx-4">
                <div class="col-span-1">
                    <img src="{{ profile.profileImageUrl }}" alt="{{ 'No profile image' }}">
                </div>
                <div class="col-span-3">
                    <div class="grid grid-rows">
                        {% if(profile.username) %}
                            <div>{{ profile.username }}</div>
                        {% else %}
                            <div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
