{% extends 'base.html.twig' %}

{% block title %}
    {% if(app.user.profile.username) %}
        {{ app.user.profile.username }}
    {% else %}
        {{ 'My profile' }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-rows">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 flex justify-left ml-4 mt-4">
                        <div>
                            <div class="w-full">
                                <img src="{{ profile.profileImageUrl }}" alt="{{ 'No profile image' }}">
                            </div>
                            <div class="delete-friendship-button-{{ profile.id }}">
                                {% include('components/buttons/friendship/friendship-interaction.html.twig') %}
                            </div>
                        </div>
                    </div>
                    <div class="col-span-2 mt-4">
                        <div class="grid grid-rows">
                            {% if(profile.username) %}
                                <div class="text-2xl">
                                    {{ profile.username }}
                                </div>
                            {% else %}
                                <div class="text-2xl">
                                    {{ 'No username' }}
                                </div>
                                {% if (app.user and app.user.profile.id == profile.id) %}
                                    <a class="text-xl text-indigo-500"
                                       href="{{ path('profile_edit') }}">{{ 'You can add username here' }}</a>
                                {% endif %}
                            {% endif %}
                            <div class="text-xl mt-4">
                                {% if(profile.description) %}
                                    {{ profile.description }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 mt-4">
                        <div class="grid grid-rows gap-2">
                            {% if (profile.privacySettings.viewAllowed(
                                constant('ALBUMS_CODE', profile.privacySettings), app.user.profile)
                                ) %}
                            <div class="bg-indigo-200 mr-4 p-4 rounded text-center">
                                <a href="{{ path('album_profile_index', {'profileId': profile.id}) }}">
                                    {{ 'Albums' }}
                                </a>
                            </div>
                            {% endif %}
                            {% if (profile.privacySettings.viewAllowed(
                                constant('GROUPS_LIST_CODE', profile.privacySettings), app.user.profile)
                                ) %}
                            <div class="bg-indigo-200 mr-4 p-4 rounded text-center">
                                <a href="{{ path('group_index', {'profileId': profile.id}) }}">
                                    {{ 'Groups' }}
                                </a>
                            </div>
                            {% endif %}
                            {% if (profile.privacySettings.viewAllowed(
                                constant('FRIEND_LIST_CODE', profile.privacySettings), app.user.profile)
                                ) %}
                            <div class="bg-indigo-200 mr-4 p-4 rounded text-center">
                                <a href="{{ path('friends_index', {'profileId': profile.id}) }}">
                                    {{ 'Friends' }}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if (app.user and app.user.profile.id == profile.id) %}
                    <div class="m-4">
                        {{ form_start(postForm) }}
                        {{ form_end(postForm) }}
                    </div>
                {% endif %}
                {% if (profile.privacySettings.viewAllowed(
                    constant('POSTS_CODE', profile.privacySettings), app.user.profile)
                    ) %}
                <div>
                    {% for post in profile.posts %}
                        {% include('components/post/post.html.twig') %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include('components/buttons/friendship/friendship-interaction-script.html.twig') %}
    {% include('components/post/post-script.html.twig') %}
    {% include('components/comment/comment-script.html.twig') %}
{% endblock %}
