<div class="grid grid-cols-8 border border-indigo-300 border-1 rounded bg-white my-2"
     id="comment-{{ comment.id }}">
    <div class="col-span-1">
        <div class="ml-4 my-4">
            <a href="{{ path('profile_index', {'profileId': comment.profile.id}) }}">
                <img src="{{ comment.profile.profileImageUrl }}">
            </a>
        </div>
    </div>
    <div class="col-span-6 m-4">
        <div class="text-2xl text-indigo-500">
            <a href="{{ path('profile_index', {'profileId': comment.profile.id}) }}">
                {{ comment.profile.username }}
            </a>
        </div>
        {{ comment.content }}
    </div>
    <div class="col-span-1 text-right mr-4">
        {% if comment.isActionAllowed(app.user.profile) %}
            <div>
                {% include('components/buttons/post/comment/delete.html.twig') %}
            </div>
        {% endif %}
        <div>
            {{ component('like-button', {entityId: comment.id, type: 'comment'}) }}
        </div>
    </div>
</div>
