{% extends 'base.html.twig' %}

{% block title %}
    Add new discussion
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}

        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-rows">
                <div class="grid grid-cols-8 ml-4 my-2">
                    <div class="col-span-1">
                        <div>
                            <div class="flex justify-center">
                                <img src="{{ group.groupImageUrl }}" alt="{{ 'No group image' }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-span-6 ml-4">
                        <div class="grid grid-rows">
                            <div class="text-2xl">
                                {{ group.title }}
                            </div>
                            <div class="text-gray-500">
                                <p>{{ group.type }} {{ 'group' }}</p>
                            </div>
                            <div class="text-xl mt-4">
                                {{ group.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-rows">
                <div class="m-6">
                    {{ form_start(discussionForm) }}
                    <h1 class="text-2xl text-center">Add new discussion</h1>
                    {{ form_end(discussionForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
