<script>
    function joinGroup(groupId) {
        axios.post('/group/join/' + groupId)
            .then(response => {
                let i;
                let toUpdate = document.getElementsByClassName('join-group-button-' + groupId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        '{{ "You joined group" }}' + '</div>';
                }
            })
    }

    function leaveGroup(groupId) {
        axios.post('/group/leave/' + groupId)
            .then(response => {
                let i;
                let toUpdate = document.getElementsByClassName('leave-group-button-' + groupId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        '{{ "You left group" }}' + '</div>';
                }
            })
    }

    function createJoinGroupRequest(groupId) {
        axios.post('/group/request/create/' + groupId)
            .then(response => {
                let i;
                let toUpdate = document.getElementsByClassName('create-join-request-button-' + groupId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        '{{ "Access requested" }}' + '</div>';
                }
            })
    }

    function deleteJoinGroupRequest(groupId) {
        axios.post('/group/request/delete/' + groupId)
            .then(response => {
                let i;
                let toUpdate = document.getElementsByClassName('delete-join-request-button-' + groupId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        '{{ "Access request canceled" }}' + '</div>';
                }
            })
    }

    function acceptJoinRequest(requestId) {
        axios.post('/group/request/accept/' + requestId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('accept-join-request-button-' + requestId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        '{{ "Request accepted" }}' + '</div>';
                }
            }
        )
    }

    function removeFromGroup(profileId, groupId) {
        axios.post('/group/remove/' + groupId + '/' + profileId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('remove-from-group-button-' + profileId + '-' + groupId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 m-4 p-2 rounded">' +
                        response.data.username + '{{ " was removed from group" }}' + '</div>';
                }
            }
        )
    }
</script>