<div class="remove-from-group-button-{{ profileId }}-{{ groupId }}">
    <button onclick="removeFromGroup({{ profileId }}, {{ groupId }})"
            class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold m-4 p-2 rounded">
        {{ 'Remove from group' }}
    </button>
</div>