<div class="grid grid-rows bg-indigo-300 rounded">
    <div class="my-2 ml-4">
        <a href="{{ path('profile_index', {'profileId' : app.user.profile.id}) }}">{{ 'My Profile'}}</a>
    </div>
    <div class="my-2 ml-4">
        <a href="{{ path('feed_index') }}">{{ 'My Feed'}}</a>
    </div>
    <div class="my-2 ml-4">
        <a href="{{ path('friends_index') }}">{{ 'My Friends' }}</a>
    </div>
    <div class="my-2 ml-4">
        <a href="{{ path('album_index', {'profileId': app.user.profile.id })}}">{{ 'My Albums' }}</a>
    </div>
    <div class="my-2 ml-4">
        <a href="{{ path('group_index', {'profileId': app.user.profile.id}) }}">{{ 'My Groups' }}</a>
    </div>
    <div class="my-2 ml-4">
        <a href="{{ path('profile_edit') }}">{{ 'Edit profile' }}</a>
    </div>
</div>