{% extends 'base.html.twig' %}

{% block title %}Edit group: {{ group.title }}{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div class="ml-4">
                {% include('components/buttons/back-button.html.twig') with {
                    url: path('group_show', {'groupId': group.id})
                } %}
            </div>
            <!-- TODO: remove group requests tab for public group -->
            <div class="grid grid-cols-5 m-4">
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-edit', tabType: 'group-edit', title: 'Edit group', isActive: true } %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-members', tabType: 'group-edit', title: 'Group Members', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-requests', tabType: 'group-edit', title: 'Group Requests', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'invited-users', tabType: 'group-edit', title: 'Invited Users', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'send-invites', tabType: 'group-edit', title: 'Send Invites', isActive: false} %}
            </div>

            <!-- Group edit -->
            <div class="tab-content" id="group-edit" style="display: block">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(groupEditForm) }}
                        <h1 class="text-2xl text-center">{{ 'Edit group: ' }}{{ group.title }}</h1>
                        {{ form_end(groupEditForm) }}
                    </div>
                </div>
            </div>

            <!-- Group members -->
            <div class="tab-content" id="group-members" style="display: block">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for profile in group.profile %}
                        {% if(profile.id != group.admin.id) %}
                            <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                <div class="col-span-1 pb-4 flex justify-center">
                                    <img src="{{ profile.profileImageUrl }}">
                                </div>
                            </a>
                            <div class="col-span-1 pb-4 text-center">
                                <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                    {{ profile.username }}
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                {% include('components/buttons/group/membership/remove-from-group.html.twig') with {
                                    profileId: profile.id, groupId: group.id
                                } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Group requests -->
            <div class="tab-content" id="group-requests" style="display: block">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for request in group.groupRequests %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <img src="{{ request.profile.profileImageUrl }}">
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ request.profile.username }}
                        </div>
                        <div class="col-span-1 pb-4 group-request-buttons-{{ request.id }}">
                            <div class="grid grid-rows flex justify-center">
                                {% include('components/buttons/group/membership/accept-request.html.twig') with {
                                    requestId: request.id
                                } %}

                                {% include('components/buttons/group/membership/delete-request.html.twig') with {
                                    requestId: request.id
                                } %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Invited Users -->
            <div class="tab-content" id="invited-users" style="display: block">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for invite in group.invites %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <img src="{{ invite.profile.profileImageUrl }}">
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ invite.profile.username }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {% include('components/buttons/group/invite/delete.html.twig') with {
                                inviteId: invite.id
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Send Invites -->
            <div class="tab-content" id="send-invites" style="display: block">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(profileSearchForm) }}
                        <h1 class="text-2xl text-center">Search users</h1>
                        {{ form_end(profileSearchForm) }}
                    </div>
                </div>
                {% if(profileSearchResult) %}
                    <div class="grid grid-cols-3">
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                        {% for profile in  profileSearchResult %}
                            {% if(not group.inGroup(profile)) %}
                                <div class="col-span-1 pb-4 flex justify-center">
                                    <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                        <img src="{{ profile.profileImageUrl }}">
                                    </a>
                                </div>
                                <div class="col-span-1 pb-4 text-center">
                                    <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                        {{ profile.username }}
                                    </a>
                                </div>
                                <div class="col-span-1 pb-4 text-center">
                                    <div class="grid grid-rows">
                                        {% if profile.hasInvite(group.id) %}
                                            {% include('components/buttons/group/invite/delete.html.twig') with {
                                                inviteId: profile.getInviteByGroup(group.id).id
                                            } %}
                                        {% else %}
                                            {% include('components/buttons/group/invite/create.html.twig') with {
                                                profileId: profile.id, groupId: group.id
                                            } %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    {% include('components/tabs/tab-script.html.twig') with {'tabType': 'group-edit'} %}
    {% include('components/buttons/group/membership/membership-script.html.twig') %}
    {% include('components/buttons/group/invite/invite-script.html.twig') %}
{% endblock %}

