{% extends 'base.html.twig' %}

{% block title %}Edit group: {{ group.title }}{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded">
            <div class="ml-4">
                {% include('components/buttons/back-button.html.twig') with {
                    url: path('group_show', {'groupId': group.id})
                } %}
            </div>
            <div class="grid grid-cols-4 m-4">
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-edit', tabType: 'group-edit', title: 'Edit group', isActive: true } %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-members', tabType: 'group-edit', title: 'Group Members', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-requests', tabType: 'group-edit', title: 'Group Requests', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-invites', tabType: 'group-edit', title: 'Group Invites', isActive: false} %}
            </div>

            <!-- Group edit -->
            <div class="tab-content" id="group-edit" style="display: block">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(groupEditForm) }}
                        <h1 class="text-2xl text-center">{{ 'Edit group: ' }}{{ group.title }}</h1>
                        {{ form_end(groupEditForm) }}
                    </div>
                </div>
            </div>

            <!-- Group members -->
            <div class="tab-content" id="group-members" style="display: block">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for profile in group.profile %}
                        {% if(profile.id != group.admin.id) %}
                            <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                <div class="col-span-1 pb-4 flex justify-center">
                                    <img src="{{ profile.profileImageUrl }}">
                                </div>
                            </a>
                            <div class="col-span-1 pb-4 text-center">
                                <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                    {{ profile.username }}
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                {% include('components/buttons/button-red.html.twig') with {
                                    url: path('group_remove', {'profileId': profile.id, 'groupId': group.id}),
                                    title: 'Remove from group'
                                } %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Group requests -->
            <div class="tab-content" id="group-requests" style="display: block">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for request in group.groupRequests %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <img src="{{ request.profile.profileImageUrl }}">
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ request.profile.username }}
                        </div>
                        <div class="col-span-1 pb-4">
                            <div class="grid grid-rows">
                                <div class="text-center">
                                    {% include('components/buttons/button-blue.html.twig') with {
                                        url: path('group_request_accept', {'requestId': request.id}),
                                        title: 'Accept'
                                    } %}
                                </div>
                                <div class="text-center">
                                    <div class="text-center">
                                        {% include('components/buttons/button-red.html.twig') with {
                                            url: path('group_request_decline', {'requestId': request.id}),
                                            title: 'Decline'
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Group Invites -->
            <div class="tab-content" id="group-invites" style="display: block">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(profileSearchForm) }}
                        <h1 class="text-2xl text-center">Search users</h1>
                        {{ form_end(profileSearchForm) }}
                    </div>
                </div>
                {% if(profileSearchResult) %}
                    <div class="grid grid-cols-3">
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Profile image' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Profile Username' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                        {% for profile in  profileSearchResult %}
                            {% if(not group.inGroup(profile)) %}
                                <div class="col-span-1 pb-4 flex justify-center">
                                    <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                        <img src="{{ profile.profileImageUrl }}">
                                    </a>
                                </div>
                                <div class="col-span-1 pb-4 text-center">
                                    <a href="{{ path('profile_index', {'profileId': profile.id}) }}">
                                        {{ profile.username }}
                                    </a>
                                </div>
                                <div class="col-span-1 pb-4 text-center">
                                    WIP
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include('components/tabs/tab-script.html.twig') with {'tabType': 'group-edit'} %}
{% endblock %}

