{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-cols-3 m-4">
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'groups', title: 'My Groups', isActive: true } %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'administrated-groups', title: 'Administrated Groups', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'create-group', title: 'Create Group', isActive: false} %}
                {% if(app.user.profile.id == profile.id) %}
            </div>
            <!-- My Groups -->
            <div class="tab-content" id="groups" style="display: block">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for group in profile.groups %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                <img src="{{ group.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                {{ group.title }}
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ group.description }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {% include('components/buttons/button-red.html.twig') with {
                                url: '',
                                title: 'Leave group'
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Administrated Groups -->
            <div class="tab-content" id="administrated-groups" style="display: none">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for group in profile.getAdministratedGroups %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                <img src="{{ group.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="col-span-1 text-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                {{ group.title }}
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ group.description }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {% include('components/buttons/button-blue.html.twig') with {
                                url: path('group_edit', {'groupId': group.id}),
                                title: 'Manage Group'
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-content" id="create-group" style="display: none">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(groupForm) }}
                        <h1 class="text-2xl text-center">Create new group</h1>
                        {{ form_end(groupForm) }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% include('components/tabs/tab-script.html.twig') %}
{% endblock %}
