{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            {% if (profile.id == app.user.profile.id) %}
            <!-- This part is displayed only if user views his/her own groups -->
            <div class="text-2xl text-center m-4">{{ 'My Groups' }}</div>
            <div class="grid grid-cols-6 my-4">
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'groups', tabType: 'groups', title: 'My Groups', isActive: true } %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'requested-groups', tabType: 'groups', title: 'Requested Groups', isActive: false } %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'group-invites', tabType: 'groups', title: 'Group Invites', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'administrated-groups', tabType: 'groups', title: 'Administrated Groups', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'create-group', tabType: 'groups', title: 'Create Group', isActive: false} %}
                {% include('components/tabs/tab-button.html.twig') with {
                    id: 'search-groups', tabType: 'groups', title: 'Search Groups', isActive: false} %}
            </div>

        <!-- Requested Groups-->
            <div class="tab-content" id="requested-groups" style="display: none">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for request in profile.groupRequests %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <a href="{{ path('group_show', {'groupId': request.relatedGroup.id}) }}">
                                <img src="{{ request.relatedGroup.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            <a href="{{ path('group_show', {'groupId': request.relatedGroup.id}) }}">
                                {{ request.relatedGroup.title }}
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ request.relatedGroup.description }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {% include('components/buttons/group/membership/delete-request.html.twig') %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        <!-- Group Invites -->
            <div class="tab-content" id="group-invites" style="display: none">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for invite in profile.invites %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <a href="{{ path('group_show', {'groupId': invite.relatedGroup.id}) }}">
                                <img src="{{ invite.relatedGroup.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            <a href="{{ path('group_show', {'groupId': invite.relatedGroup.id}) }}">
                                {{ invite.relatedGroup.title }}
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ invite.relatedGroup.description }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            <div class="grid grid-rows">
                                {% include('components/buttons/group/invite/accept.html.twig') with {
                                    inviteId: invite.id
                                } %}
                                {% include('components/buttons/group/invite/delete.html.twig') with {
                                    inviteId: invite.id
                                } %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        <!-- Administrated Groups -->
            <div class="tab-content" id="administrated-groups" style="display: none">
                <div class="grid grid-cols-4">
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                    <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                    {% for group in profile.getAdministratedGroups %}
                        <div class="col-span-1 pb-4 flex justify-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                <img src="{{ group.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="col-span-1 text-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                {{ group.title }}
                            </a>
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            {{ group.description }}
                        </div>
                        <div class="col-span-1 pb-4 text-center">
                            <a href="{{ path('group_edit', {'groupId': group.id}) }}">
                                <button class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
                                    {{ 'Manage group' }}
                                </button>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        <!-- Create Group -->
            <div class="tab-content" id="create-group" style="display: none">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(groupForm) }}
                        <h1 class="text-2xl text-center">Create new group</h1>
                        {{ form_end(groupForm) }}
                    </div>
                </div>
            </div>

        <!-- Search Groups -->
            <div class="tab-content" id="search-groups" style="display: none">
                <div class="flex flex-col items-center py-4">
                    <div class="max-w-xl">
                        {{ form_start(searchForm) }}
                        <h1 class="text-2xl text-center">Search groups</h1>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
                {% if groupSearchResult %}
                    <div class="grid grid-cols-4">
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                        {% for group in groupSearchResult %}
                            <div class="col-span-1 pb-4 flex justify-center">
                                <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                    <img src="{{ group.groupImageUrl }}">
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                    {{ group.title }}
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                {{ group.description }}
                            </div>
                            <div class="flex justify-center">
                                {% include('components/buttons/group/membership/complex-interaction.html.twig') %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        <!-- My Groups -->
            <div class="tab-content" id="groups" style="display: block">
                {% endif %}
                {% if(profile.privacySettings.groupListViewAllowed(app.user.profile)) %}
                    <!-- This part is displayed for everyone. If user views groups of another user,
                    this part MUST be outside `tab-content` element. -->
                    {% if(profile.id != app.user.profile.id) %}
                        <div class="text-2xl text-center m-4">{{ 'Groups of ' }} {{ profile.username }}</div>
                    {% endif %}
                    <div class="grid grid-cols-4">
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group image' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group Title' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Group description' }}</div>
                        <div class="col-span-1 text-xl text-center my-4">{{ 'Actions' }}</div>
                        {% for group in profile.groups %}
                            <div class="col-span-1 pb-4 flex justify-center">
                                <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                    <img src="{{ group.groupImageUrl }}">
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                    {{ group.title }}
                                </a>
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                {{ group.description }}
                            </div>
                            <div class="col-span-1 pb-4 text-center">
                                {% if (group.groupAdmin(app.user.profile)) %}
                                    <div>
                                        <a href="{{ path('group_edit', {'groupId': group.id}) }}">
                                            <button class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
                                                {{ 'Manage group' }}
                                            </button>
                                        </a>
                                    </div>
                                {% else %}
                                    {% include('components/buttons/group/membership/complex-interaction.html.twig') %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if (profile.id == app.user.profile.id) %}
            </div>
            {% endif %}
        </div>
    </div>
    {% include('components/tabs/tab-script.html.twig') with {'tabType': 'groups'} %}
    {% include('components/buttons/group/membership/membership-script.html.twig') %}
    {% include('components/buttons/group/invite/invite-script.html.twig') %}
{% endblock %}
