{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            {% if(app.user.profile.id == profile.id) %}
                <div class="text-center mt-6">
                    <a href="{{ path('group_create') }}">
                        <button class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold mt-4 py-2 px-4 rounded">
                            {{ 'Create new group' }}
                        </button>
                    </a>
                </div>
            {% endif %}
            <div class="grid grid-cols-3">
                {% for group in profile.groups %}
                    <div class="grid grid-rows">
                        <div>
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                <img src="{{ group.groupImageUrl }}">
                            </a>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('group_show', {'groupId': group.id}) }}">
                                {{ group.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
