{% extends 'base.html.twig' %}

{% block title %}
    {{ group.title }}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-rows">
                <div class="grid grid-cols-8 ml-4 my-2">
                    <div class="col-span-1">
                        <div>
                            <div class="flex justify-center">
                                <img src="{{ group.groupImageUrl }}" alt="{{ 'No group image' }}">
                            </div>
                            <div class="flex justify-center">
                                {% if group.admin.id != app.user.profile.id %}
                                    {% include('components/buttons/group/membership/complex-interaction.html.twig') with {
                                        'group': group
                                    } %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-span-6 ml-4">
                        <div class="grid grid-rows">
                            <div class="text-2xl">
                                {{ group.title }}
                            </div>
                            <div class="text-xl mt-4">
                                {% if(group.description) %}
                                    {{ group.description }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if (group.admin.id == app.user.profile.id) %}
                        <div class="col-span-1">
                            <div class="mr-4 flex justify-right">
                                {% include('components/buttons/button-blue.html.twig') with {
                                    'url': path('group_edit', {'groupId': group.id}),
                                    'title': 'Manage group'
                                } %}
                            </div>
                            <div class="mr-4 flex justify-right">
                                {% include('components/buttons/group/delete-group-button.html.twig') %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if (app.user and app.user.profile.id == group.admin.id) %}
                    <div class="m-4">
                        {{ form_start(postForm) }}
                        <div class="text-2xl text-center mb-4">{{ 'New Post' }}</div>
                        {{ form_end(postForm) }}
                    </div>
                {% endif %}
                <div>
                    {% include('components/post/post-list.html.twig') with {'posts': group.posts} %}
                </div>
            </div>
        </div>
    </div>
    {% include('components/buttons/group/membership/membership-script.html.twig') %}
{% endblock %}
