{% extends 'base.html.twig' %}

{% block title %}
    {% if(app.user.profile.username) %}
        {{ app.user.profile.username }}
    {% else %}
        {{ 'My profile' }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-rows">
                <div class="grid grid-cols-4 my-2 mx-4">
                    <div class="col-span-1 flex justify-center">
                        <div>
                            <div>
                                <img src="{{ group.groupImageUrl }}" alt="{{ 'No profile image' }}">
                            </div>
                            <!-- Join group here-->
                        </div>
                    </div>
                    <div class="col-span-3">
                        <div class="grid grid-rows">
                            <div class="text-2xl ml-6">
                                {{ group.title }}
                            </div>
                            <div class="text-xl ml-6 mt-4">
                                {% if(group.description) %}
                                    {{ group.description }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="grid grid-cols-4 gap-4">#}
{#                    <div class="m-4">#}
{#                        <a href="{{ path('album_index', {'profileId': profile.id}) }}">Albums</a>#}
{#                    </div>#}
{#                    <div class="m-4">#}
{#                        <a href="{{ path('group_index', {'profileId': profile.id}) }}">Groups</a>#}
{#                    </div>#}
{#                </div>#}
                {% if (app.user and app.user.profile.id == group.admin.id) %}
                    <div class="m-6">
                        {{ form_start(postForm) }}
                        {{ form_end(postForm) }}
                    </div>
                {% endif %}
                <div>
                    {%  include('components/post-list.html.twig') with {
                        'posts': group.posts} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
