{% extends 'base.html.twig' %}

{% block title %}
    {{ group.title }}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-12 gap-4">
        {% if(app.user) %}
            <div class="col-span-2 col-start-2">
                {% include 'components/profile/navigation.html.twig' %}
            </div>
        {% endif %}
        <div class="col-span-8 bg-indigo-300 rounded ">
            <div class="grid grid-rows">
                <div class="grid grid-cols-6 ml-4 my-2">
                    <div class="col-span-1">
                        <div>
                            <div class="flex justify-center">
                                <img src="{{ group.groupImageUrl }}" alt="{{ 'No group image' }}">
                            </div>
                        </div>
                        {% if(group.actionAllowed(app.user.profile, 'view')) %}
                            <div class="grid grid-rows">
                                <a href="{{ path('discussion_index', {'groupId': group.id}) }}">
                                    <button class="bg-indigo-500 text-white w-full tab-links hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold mt-4 py-2 rounded">
                                        {{ 'Discussions' }}
                                    </button>
                                </a>
                                <a href="{{ path('album_group_index', {'groupId': group.id}) }}">
                                    <button class="bg-indigo-500 text-white w-full tab-links hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold mt-4 py-2 rounded">
                                        {{ 'Albums' }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-span-4 ml-4">
                        <div class="grid grid-rows">
                            <div class="text-2xl">
                                {{ group.title }}
                            </div>
                            <div class="text-gray-500">
                                <p>{{ group.type }} {{ 'group' }}</p>
                            </div>
                            <div class="text-gray-700">
                                <p>{{ group.profile.count }} {{ 'members' }}</p>
                            </div>
                            <div class="text-xl mt-4">
                                {{ group.description }}
                            </div>
                        </div>
                    </div>
                    {% if (group.admin.id == app.user.profile.id) %}
                        <div class="col-span-1">
                            <div class="mr-4">
                                <a href="{{ path('group_edit', {'groupId': group.id}) }}">
                                    <button class="w-full bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
                                        {{ 'Manage group' }}
                                    </button>
                                </a>
                            </div>
                            <div class="mr-4">
                                {% include('components/buttons/group/delete-group-button.html.twig') %}
                            </div>
                        </div>
                    {% else %}
                        <div class="flex justify-center">
                            {% if group.admin.id != app.user.profile.id %}
                                {% include('components/buttons/group/membership/complex-interaction.html.twig') %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>


                {% if (app.user and app.user.profile.id == group.admin.id) %}
                    <div class="m-4">
                        {{ form_start(postForm) }}
                        {% for message in app.flashes('post-failure') %}
                            <div class="bg-rose-500 text-white text-center p-2 rounded mb-2">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="text-2xl text-center mb-4">{{ 'New Post' }}</div>
                        {{ form_end(postForm) }}
                    </div>
                {% endif %}
                <div>
                    {% if(group.actionAllowed(app.user.profile, 'view')) %}
                        {% for post in group.posts %}
                            {% include('components/post/post.html.twig') %}
                        {% endfor %}
                        {% include('components/post/post-script.html.twig') %}
                    {% else %}
                        <div class="m-4 p-4 text-2xl text-center bg-indigo-200 rounded">
                            {{ 'This group is private. Join it if you want to see group posts' }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include('components/buttons/group/membership/membership-script.html.twig') %}
    {% include('components/comment/comment-script.html.twig') %}
{% endblock %}
