<script>
    function createFriendshipRequest(profileId) {
        axios.post('/friendship-request/create/' + profileId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('create-friendship-request-button-' + profileId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 my-4 p-2 rounded">' +
                        '{{ "Friendship request sent" }}' + '</div>';
                }
            }
        )
    }

    function deleteFriendshipRequest(profileId) {
        axios.delete('/friendship-request/delete/' + profileId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('delete-friendship-request-button-' + profileId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 my-4 p-2 rounded">' +
                        '{{ "You canceled friendship request" }}' + '</div>';
                }
            }
        )
    }

    function createFriendship(profileId) {
        axios.post('/friendship/create/' + profileId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('create-friendship-button-' + profileId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 my-4 p-2 rounded">' +
                        '{{ "You added " }}' + response.data.username + '{{ " to friends" }}' + '</div>';
                }
            }
        )
    }

    function deleteFriendship(profileId) {
        axios.delete('/friendship/delete/' + profileId).then(
            response => {
                let i;
                let toUpdate = document.getElementsByClassName('delete-friendship-button-' + profileId);
                for(i = 0; i < toUpdate.length; i++) {
                    toUpdate[i].innerHTML =
                        '<div class="text-center justify-center flex bg-indigo-200 my-4 p-2 rounded">' +
                        '{{ "You removed " }}' + response.data.username + '{{ " from friends" }}' + '</div>';
                }
            }
        )
    }
</script>