<!-- Remove from friends -->
{% if app.user.profile.isFriend(profile.id) %}
    <div class="delete-friendship-button-{{ profile.id }}">
        <div class="bg-indigo-200 my-4 p-2 rounded">
            {{ 'You are friends' }}
        </div>
        {% include('components/buttons/friendship/delete-friendship-button.html.twig') %}
    </div>
    <!-- Delete friendship request -->
{% elseif app.user.profile.hasOutgoingRequest(profile.id) %}
    <div class="delete-friendship-request-button-{{ profile.id }}">
        <div class="bg-indigo-200 my-4 p-2 rounded">
            {{ 'Friendship request sent' }}
        </div>
        {% include('components/buttons/friendship/delete-request-button.html.twig') %}
    </div>
    <!-- Accept friendship request -->
{% elseif app.user.profile.hasIncomingRequest(profile.id) %}
    <div class="create-friendship-button-{{ profile.id }}">
        <div class="bg-indigo-200 my-4 p-2 rounded">
            {{ 'Friendship requested' }}
        </div>
        {% include('components/buttons/friendship/create-friendship-button.html.twig') %}
    </div>
    <!-- Create friendship request -->
{% elseif (app.user.profile.id != profile.id) %}
    <div class="create-friendship-request-button-{{ profile.id }}">
        <div class="mt-4">
            {% include('components/buttons/friendship/create-request-button.html.twig') %}
        </div>
    </div>
{% endif %}
