{% for post in posts %}
    <div class="m-4 bg-indigo-200 rounded">
        <div class="grid grid-rows gap-4">
            <div class="grid grid-cols-8">
                {% if (post.group) %}
                    <div class="ml-4 my-4">
                        <img src="{{ post.group.groupImageUrl }}">
                    </div>
                    <div class="ml-4 my-4">
                        <div class="text-2xl">{{ post.group.title }}</div>
                    </div>
                {% else %}
                    <div class="ml-4 my-4">
                        <img src="{{ post.profile.profileImageUrl }}">
                    </div>
                    <div class="ml-4 my-4">
                        <div class="text-2xl">{{ post.profile.username }}</div>
                    </div>
                {% endif %}
                {% if (app.user and post.canBeDeleted(app.user)) %}
                    <div class="mr-4 my-4 cols-span-1 col-start-8 text-right">
                        {% include('components/buttons/button-red.html.twig') with {
                            'url': path('post_delete', {'postId': post.id}),
                            'title': 'Delete'
                        } %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="grid grid-cols-3 bg-white rounded mx-4" id="post-{{post.id}}">
            <div class="col-span-2 pl-4 py-4">
                <img class="" src="{{ post.photo.imageUrl }}">
            </div>
            <div class="col-span-1 pl-4 py-4">
                {{ post.content }}
            </div>
        </div>
        <div class="m-4">
            {% include('components/buttons/like-button.html.twig') %}
        </div>

        <div class="m-4 text-2xl">
            {{ 'Comments:' }}
        </div>
        {% if post.comments %}
            <div class="m-4">
                {% for comment in post.comments %}
                    <div class="grid grid-cols-8 border border-indigo-300 border-1 rounded bg-white my-2" id="comment-{{comment.id}}">
                        <div class="col-span-1">
                            <div class="ml-4 my-4">
                                <img src="{{ comment.profile.profileImageUrl }}">
                            </div>
                        </div>
                        <div class="col-span-6 m-4">
                            <div class="text-2xl text-indigo-500">
                                {{ comment.profile.username }}
                            </div>
                            {{ comment.content }}
                        </div>
                        {% if app.user.profile.id == comment.profile.id %}
                            <div class="col-span-1 text-right mr-4">
                                {% include('components/buttons/button-red.html.twig') with {
                                    'url': path('comment_delete', {'commentId': comment.id}),
                                    'title': 'Delete'
                                } %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="pb-4">
                    {{ component('post/post-comment', {'postId': post.id}) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}