<div class="m-4 bg-indigo-200 rounded" id="post-{{ post.id }}">
    <!-- Post header -->
    <div class="grid grid-rows gap-4">
        <div class="grid grid-cols-8">
            {% if (post.group) %}
                <div class="ml-4 my-4">
                    <a href="{{ path('group_show', {'groupId': post.group.id}) }}">
                        <img src="{{ post.group.groupImageUrl }}">
                    </a>
                </div>
                <div class="ml-4 my-4">
                    <a href="{{ path('group_show', {'groupId': post.group.id}) }}">
                        <div class="text-2xl">{{ post.group.title }}</div>
                    </a>
                </div>
            {% else %}
                <div class="ml-4 my-4">
                    <a href="{{ path('profile_index', {'profileId': post.profile.id}) }}">
                        <img src="{{ post.profile.profileImageUrl }}">
                    </a>
                </div>
                <div class="ml-4 my-4">
                    <a href="{{ path('profile_index', {'profileId': post.profile.id}) }}">
                        <div class="text-2xl">{{ post.profile.username }}</div>
                    </a>
                </div>
            {% endif %}
            {% if (app.user and post.canBeDeleted(app.user)) %}
                <div class="mr-4 my-4 cols-span-1 col-start-8 text-right">
                    {% include('components/buttons/post/delete.html.twig') %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Post content -->
    <div class="grid grid-cols-3 bg-white rounded mx-4" id="post-{{ post.id }}">
        {% if (post.photo) %}
            <div class="col-span-2 pl-4 py-4">
                <img class="" src="{{ post.photo.imageUrl }}">
            </div>
        {% endif %}
        <div class="col-span-1 pl-4 py-4">
            {{ post.content }}
        </div>
    </div>
    <div class="m-4">
        {% include('components/buttons/post/like/like-button.html.twig') %}
    </div>

    <!-- Post comments -->
    <div class="m-4 text-2xl">
        {{ 'Comments:' }}
    </div>
    {% if post.comments %}
        <div class="m-4">
            <div id="post-comments-{{ post.id }}">
                {% for comment in post.comments %}
                    {% include('components/post/comment.html.twig') %}
                {% endfor %}
            </div>
            <div class="pb-4">
                {% include('components/post/new-comment.html.twig') with {type: 'post'} %}
            </div>
        </div>
    {% endif %}
</div>
