<!-- If user is group admin, link to group edit page is displayed -->
{% if (app.user.profile.id == group.admin.id) %}
    <div>
        <button class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-2 py-2 px-4 rounded">
            <a href="{{ path('group_edit', {'groupId': group.id}) }}">{{ 'Manage group' }}</a>
        </button>
    </div>
    <!-- If user is already in group, user can only leave group-->
{% elseif(group.isInGroup(app.user.profile)) %}
    <div class="leave-group-button-{{ group.id }}">
        <button onclick="leaveGroup('{{ group.id }}')"
                class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold my-4 py-2 px-4 rounded">
            {{ 'Leave group' }}
        </button>
    </div>
{% else %}
    <!-- User is not in group -->
    <!-- If group is public, user can join group -->
    {% if(group.type == constant('PUBLIC_GROUP_TYPE', group)) %}
        <div class="join-group-button-{{ group.id }}">
            <button onclick="joinGroup('{{ group.id }}')"
                    class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-4 py-2 px-4 rounded">
                {{ 'Join group' }}
            </button>
        </div>
    {% else %}
        <!-- Group is private -->
        <!-- If user has already requested access to group, use can cancel request -->
        {% if(group.isRequested(app.user)) %}
            <div class="cancel-join-group-request-button-{{ group.id }}">
                <button onclick="deleteJoinGroupRequest('{{ group.id }}')"
                        class="bg-rose-700 hover:bg-rose-600 focus:shadow-outline focus:outline-none text-white font-bold my-4 py-2 px-4 rounded">
                    {{ 'Cancel request' }}
                </button>
            </div>
        {% else %}
            <!-- If user hasn't requested access, user can make access request-->
            <div class="create-join-group-request-button-{{ group.id }}">
                <button onclick="createJoinGroupRequest('{{ group.id }}')"
                        class="bg-indigo-500 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold my-4 py-2 px-4 rounded">
                    {{ 'Join group' }}
                </button>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
